/* === Header Section */
header{
    height: 100vh;
    background: url('https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    background-blend-mode: multiply;
}

nav{
    background-color: rgba(0, 0, 0, 0.144);
    background-blend-mode: multiply;
    padding: 20px 0;
    margin-bottom: 20px;
}

.logo{
    color: #F8F9FA;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link-container li a{
    color: #FFF;
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.765);
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-color: transparent;
    margin: 10px 0;
    transition: 0.3s all ease;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.fa-brands{
    width: 20px;
    height: 20px;
}


@media only screen and (max-width: 576px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 100%;
        padding: 0 10px;
    }

    nav .container div:nth-child(2){
        display: none;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 540px;
        margin: 0 auto
    }

    nav .container div:nth-child(2){
        display: block;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    header{
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 720px;
        margin: 0 auto
    }
    

    .banner__title{
        font-size: 36px;
        width: 100%;
    }

    .banner{
        bottom: 10%;
    }
}