/* 
=== Login ===
*/

.login__container {
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: space-between;
}

.login__left-side,
.login__right-side {
  width: 45%;
}

.login__banner {
  border-radius: 5px;
  /* margin: -100px 0; */
}

.login__email-label,
.login__password-label,
.login__email-field,
.login__password-field {
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
}

.login__btn {
  width: 100%;
  padding: 8px 15px;
  background-color: rgba(0, 0, 0, 0.765);
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.login__btn:hover,
.login__btn:hover i {
  background-color: transparent;
  border-color: #34342c;
  color: #34342c;
}

.login__btn i {
  color: #fff;
}

.login__btn:first-of-type {
  margin-bottom: 10px;
  display: inline-block;
}

/* ===== Media Screen */
@media only screen and (max-width: 576px) {
  /* 
    === Login ===
    */

  .login__container {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
  }

  .login__left-side,
  .login__right-side {
    width: 100%;
    margin: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* 
    === Login ===
    */

  .login__container {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
  }

  .login__left-side,
  .login__right-side {
    width: 100%;
    margin: 20px;
  }
}
