/* === Featured Blog Item */
.featured-blog {
  margin: 150px auto;
}

.featured-blog__title {
  color: #495057;
  : Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
}

.featured-blog__items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.featured-blog-item {
  background: url("https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.609);
  background-blend-mode: multiply;
  border-radius: 5px;
  /* background: url(<path-to-image>), lightgray 50% / cover no-repeat, #343A40; */
  padding: 40px;
  text-align: right;
}

.featured-blog-item__tag {
  margin-bottom: 110px;
  display: inline-block;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  padding: 5px 10px;
  color: #fff;
  text-align: right;
  : Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -10px;
}

.featured-blog-item__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: left;
}

.featured-blog-item__date {
  color: #e5e5e5;
  : Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.featured-blog-item__title {
  color: #fff;
  : Lora;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px; /* 138.889% */
  margin: 15px 0;
}
.featured-blog-item__description {
  color: #e5e5e5;
  : Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

/* ===== Media Screen */
@media only screen and (max-width: 576px) {
  /* Featured Blog */
  .featured-blog {
    margin: 50px auto;
  }

  .featured-blog__items-container {
    grid-template-columns: 1fr;
  }

  .featured-blog-item {
    padding: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* Featured Blog */
  .featured-blog {
    margin: 50px auto;
  }

  .featured-blog__items-container {
    grid-template-columns: 1fr 1fr;
  }

  .featured-blog-item {
    padding: 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* Featured Blog */
  .featured-blog {
    margin: 50px auto;
  }

  .featured-blog__items-container {
    grid-template-columns: 1fr 1fr;
  }

  .featured-blog-item {
    padding: 20px;
  }
}
