/* 
=== About ===
*/

.about{
    margin: 80px auto
}

.about__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about__container:last-of-type{
    flex-direction: row-reverse;
}

.about__left-side,
.about__right-side{
    width: 45%;
}

.about__left-side img{
    border-radius: 10px;
}

.about__right-side h3{
    font-size: 26px;
    font-weight: 700;
}

.about__right-side p{
    text-align: justify;
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
}


@media only screen and (max-width: 576px) {
    /* 
    === About ===
    */

    .about{
        margin: 50px auto !important;
    }

    .about__container{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about__container:last-of-type{
        flex-direction: column;
    }

    .about__left-side,
    .about__right-side{
        width: 100%;
        margin-bottom: 20px;
    }

    .about__left-side img{
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .about__right-side h3{
        font-size: 18px;
        font-weight: 700;
    }

    .about__right-side p{
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        font-style: normal;
    }

    
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    /* 
    === About ===
    */

    .about{
        margin: 50px auto !important;
    }

    .about__container{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about__container:last-of-type{
        flex-direction: column;
    }

    .about__left-side,
    .about__right-side{
        width: 100%;
        margin-bottom: 20px;
    }

    .about__left-side img{
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .about__right-side h3{
        font-size: 18px;
        font-weight: 700;
    }

    .about__right-side p{
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        font-style: normal;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px) {

    /* 
    === About ===
    */

    .about{
        margin: 50px auto !important;
    }

    .about__container{
        
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .about__container:last-of-type{
        flex-direction: column;
    }

    .about__left-side,
    .about__right-side{
        width: 100%;
        margin-bottom: 20px;
    }

    .about__left-side img{
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .about__right-side h3{
        font-size: 18px;
        font-weight: 700;
    }

    .about__right-side p{
        text-align: justify;
        margin-top: 10px;
        font-size: 15px;
        font-style: normal;
    }



}

