/* ==== Feature Slider */
.featured-slider {
  background: url("https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.609);
  background-blend-mode: multiply;
  padding: 200px 0;
  text-align: center;
}

.featured-slider__tag {
  padding: 5px 10px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  display: inline-block;
}

.featured-slider__title {
  color: #fff;
  text-align: center;
  : Lora;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 20px auto;
  width: 60%;
}

.featured-slider__description {
  color: #e5e5e5;
  text-align: center;
  : Lora;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin: 10px auto;
  width: 60%;
}

@media only screen and (max-width: 576px) {
  /* featured slider */

  .featured-slider {
    background-image: url("https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: rgba(0, 0, 0, 0.63);
    padding: 20px;
  }

  .featured-slider__title {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }

  .featured-slider__description {
    width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* featured slider */

  .featured-slider {
    background-image: url("https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: rgba(0, 0, 0, 0.63);
    padding: 20px;
  }

  .featured-slider__title {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }

  .featured-slider__description {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  /* featured slider */

  .featured-slider {
    background-image: url("https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-color: rgba(0, 0, 0, 0.63);
    padding: 50px;
  }

  .featured-slider__title {
    font-size: 26px;
    width: 100%;
    text-align: center;
  }

  .featured-slider__description {
    width: 100%;
  }
}
