/* ===== Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --body- : 'Lora', serif;
    --primary- : 'Roboto', sans-serif;

    --primary-color : #FAD364;
    --secondary-color: #34342C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    : var(--body-);
    color: rgba(0, 0, 0, 0.765);
}

button{
    border: none;
    outline: none;
}

.container{
    max-width: 960px;
    /* background-color: red; */
    margin: 0 auto;
}

li{
    list-style: none;
    display: inline;
}

a{
    color: #fff;
}

img{
    width: 100%;
}


/* 
=== Navbar ===
*/

nav{
    box-shadow: -4px -7px 10px rgba(0, 0, 0, 0.765);
    background-blend-mode: multiply;
    padding: 20px 0;
}

.logo{
    color: rgba(0, 0, 0, 0.765);
    : 'Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link-container li a{
    color: rgba(0, 0, 0, 0.765);
    : var(--primary-);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.765);
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-color: transparent;
    margin: 10px 0;
    transition: 0.3s all ease;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.fa-brands{
    width: 20px;
    height: 20px;
    color: #000;
}

/* 
=== signup ===
*/

.signup__container{
    display: flex;
    align-items: center;
    padding: 100px 0;
    justify-content: space-between;
}

.signup__left-side,
.signup__right-side{
    width: 45%;
}


.signup__banner{
    border-radius: 5px;
    /* margin: -100px 0; */
}

.signup__email-label,
.signup__password-label,
.signup__firstName-label,
.signup__lastName-label,
.signup__email-field,
.signup__password-field,
.signup__firstName-field,
.signup__lastName-field
{
    width: 100%;
    margin-bottom: 5px;
    display: inline-block;
}

.signup__btn{
    width: 100%;
    padding: 8px 15px;
    background-color: rgba(0, 0, 0, 0.765);
    color: #fff;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid transparent;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.signup__btn:hover, .signup__btn:hover i{
    background-color: transparent;
    border-color: #34342C;
    color: #34342C;
}

.signup__btn i{
    color: #fff;
}

.signup__btn:first-of-type{
    margin-bottom: 10px;
    display: inline-block;
}

input{
    padding: 8px;
}

label{
    columns: rgba(0, 0, 0, 0.765);
}

/* 
=== Footer === 
*/

footer{
    background: #212529;
    padding: 100px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-container div h3{
    color: #FFF;
    : Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
}

.footer-container div h6{
    color: #E5E5E5;
    : Lora;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 18px 0;
}

.extra-footer{
    background: #343A40;
    padding: 31px;
}

.extra-footer__container{
    display: flex;
    justify-content: space-between;
}

.extra-footer__container span{
    color: #E5E5E5;
    : Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ===== Media Screen */
@media only screen and (max-width: 576px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 100%;
        padding: 0 10px;
    }

    nav .container div:nth-child(2){
        display: none;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }

     /* 
=== signup ===
*/

    .signup__container{
        display: flex;
        padding: 50px 0;
        flex-direction: column;
    }

    .signup__left-side,
    .signup__right-side{
        width: 100%;
        margin: 20px;
    }



      /* Footer */
      footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: column;
    }
    
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 540px;
        margin: 0 auto
    }

    nav .container div:nth-child(2){
        display: block;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }

       /* 
    === signup ===
    */

    .signup__container{
        display: flex;
        padding: 50px 0;
        flex-direction: column;
    }

    .signup__left-side,
    .signup__right-side{
        width: 100%;
        margin: 20px;
    }


     /* Footer */
     footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: row ;
    }

}
@media only screen and (min-width: 768px) and (max-width: 992px) {
     header{
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 720px;
        margin: 0 auto
    }
    

    .banner__title{
        font-size: 36px;
        width: 100%;
    }

    .banner{
        bottom: 10%;
    }


     /* Footer */
     footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: row ;
    }
}

