/* === Header Section */
.header{
    height: 100vh;
    background: url('https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    background-blend-mode: multiply;
}

.main-header{

    background-color: rgba(0, 0, 0, 0.609);
    background-blend-mode: multiply;
}

.header-nav{
    background-color: rgba(0, 0, 0, 0.144);
    background-blend-mode: multiply;
    padding: 20px 0;
    margin-bottom: 20px;
    /* background-color: red; */
}
.nav{
    /* background-color: rgba(0, 0, 0, 0.144);
    background-blend-mode: multiply; */
    padding: 20px 0;
    margin-bottom: 20px;
}

.logo{
    color: #F8F9FA;
    font-family: var(--body-font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link-container li a{
    color: #FFF;
    font-family: var(--primary-);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

.nav .container,
.header-nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.765);
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-color: transparent;
    margin: 10px 0;
    transition: 0.3s all ease;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.fa-brands{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.social{
    display: flex;
    align-items: center;
}

/* .banner-section{
    overflow: hidden;
} */

.banner{
    position: absolute;
    bottom: 15%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    /* width: 100%; */
    
}

.banner__tag{
    padding: 10px 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.banner__title{
    color: #FFF;
font-family: var(--primary-font-family);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 70%;
margin: 20px auto;

}

.horizontal-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__date{
    color: #E5E5E5;
font-family: var(--primary-font-family);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 10px 10px
}

.horizontal-line{
    width: 30px;
    height: 1px;
    background: #E5E5E5;
    display: inline-block;
}


@media only screen and (max-width: 576px) {
    .header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }

    .nav .container div:nth-child(2){
        display: none;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }
}


@media only screen and (min-width: 576px) and (max-width: 768px) {
    .header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }

    .nav .container div:nth-child(2){
        display: block;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .header{
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }

    .banner__title{
        font-size: 36px;
        width: 100%;
    }

    .banner{
        bottom: 10%;
    }
}