/* 
=== signup ===
*/

.signup__container {
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: space-between;
}

.signup__left-side,
.signup__right-side {
  width: 45%;
}

.signup__banner {
  border-radius: 5px;
  /* margin: -100px 0; */
}

.signup__email-label,
.signup__password-label,
.signup__firstName-label,
.signup__lastName-label,
.signup__email-field,
.signup__password-field,
.signup__firstName-field,
.signup__lastName-field {
  width: 100%;
  margin-bottom: 5px;
  display: inline-block;
}

.signup__btn {
  width: 100%;
  padding: 8px 15px;
  background-color: rgba(0, 0, 0, 0.765);
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

.signup__btn:hover,
.signup__btn:hover i {
  background-color: transparent;
  border-color: #34342c;
  color: #34342c;
}

.signup__btn i {
  color: #fff;
}

.signup__btn:first-of-type {
  margin-bottom: 10px;
  display: inline-block;
}

/* ===== Media Screen */
@media only screen and (max-width: 576px) {
  /* 
=== signup ===
*/

  .signup__container {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
  }

  .signup__left-side,
  .signup__right-side {
    width: 100%;
    margin: 20px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  /* 
    === signup ===
    */

  .signup__container {
    display: flex;
    padding: 50px 0;
    flex-direction: column;
  }

  .signup__left-side,
  .signup__right-side {
    width: 100%;
    margin: 20px;
  }
}
