/* ===== Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --body- : 'Lora', serif;
    --primary- : 'Roboto', sans-serif;

    --primary-color : #FAD364;
    --secondary-color: #34342C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: var(--body-font-family);
    color: var(--secondary-color);
}

button{
    border: none;
    outline: none;
}

.container{
    max-width: 960px;
    /* background-color: red; */
    margin: 0 auto;
}

li{
    list-style: none;
    display: inline;
}

a{
    color: #fff;
}

img{
    width: 100%;
}

/* === Header Section */
header{
    height: 100vh;
    background: url('https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    background-blend-mode: multiply;
}

nav{
    background-color: rgba(0, 0, 0, 0.144);
    background-blend-mode: multiply;
    padding: 20px 0;
    margin-bottom: 20px;
}

.logo{
    color: #F8F9FA;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-link-container li a{
    color: #FFF;
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 10px;
}

nav .container{
    display: flex;
    justify-content: space-between;
}

.btn{
    padding: 15px 30px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.765);
    cursor: pointer;
    color: #fff;
    display: inline-block;
    border: 1px solid #fff;
    border-color: transparent;
    margin: 10px 0;
    transition: 0.3s all ease;
}

.btn:hover{
    background-color: transparent;
    border: 1px solid #fff;
}

.fa-brands{
    width: 20px;
    height: 20px;
}

/* .banner-section{
    overflow: hidden;
} */

.banner{
    position: absolute;
    bottom: 200px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    /* width: 100%; */
    
}

.banner__tag{
    padding: 10px 5px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

.banner__title{
    color: #FFF;
font-family: var(--primary-font-family);
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 70%;
margin: 20px auto;

}

.horizontal-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__date{
    color: #E5E5E5;
font-family: var(--primary-font-family);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 10px 10px
}

.horizontal-line{
    width: 30px;
    height: 1px;
    background: #E5E5E5;
    display: inline-block;
}


/* == blog
 */
.blog{
    margin: 100px auto;
}

.blog__author img{
    width: 100px;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}

.blog__author-designation{
    text-align: center;
    font-size: 26px;
}

.blog__author-description{
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

.blog__author-social{
    text-align: center;
    margin-bottom: 10px;
}

.blog__author-social li a i{
    color: #343A40;
}

.blog__horizontal .horizontal-line,
.blog__horizontal .horizontal-line{
    background-color: #212529;
}

.blog__horizontal .banner__date{
    color: #212529; 
}

.blog__description{
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 50px;
}

.blog__banner-tag{
    margin: 20px 0;
}

.blog__tag{
    border: 1px solid #212529;
    padding: 10px;
    color: #212529;
}




/* === Featured Blog Item */
.featured-blog{
    margin: 150px auto;
}

.featured-blog__title{
    color: #495057;
    font-family: var(--primary-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 70px;
}

.featured-blog__items-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.featured-blog-item{
    background: url('https://images.pexels.com/photos/1597776/pexels-photo-1597776.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.609);
    background-blend-mode: multiply;
    border-radius: 5px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat, #343A40;
    padding: 40px;
    text-align: right;

}

.featured-blog-item__tag{
    margin-bottom: 110px;
    display: inline-block;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
    color: #FFF;
    text-align: right;
    font-family: var(--body-font-family);
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -10px;
}

.featured-blog-item__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.featured-blog-item__date{
    color: #E5E5E5;
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.featured-blog-item__title{
    color: #FFF;
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    margin: 15px 0;
}
.featured-blog-item__description{
    color: #E5E5E5;
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
}

/* Footer  */
footer{
    background: #212529;
    padding: 100px 0;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-container div h3{
    color: #FFF;
    font-family: var(--primary-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
}

.footer-container div h6{
    color: #E5E5E5;
    font-family: var(--primary-font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 18px 0;
}

.extra-footer{
    background: #343A40;
    padding: 31px;
}

.extra-footer__container{
    display: flex;
    justify-content: space-between;
}

.extra-footer__container span{
    color: #E5E5E5;
    font-family: var(--primary-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* ===== Media Screen */
@media only screen and (max-width: 576px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 100%;
        padding: 0 10px;
    }

    nav .container div:nth-child(2){
        display: none;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }

    /* == blog
    */
    .blog{
        margin: 50px auto;
    }

    
    /* Featured Blog */
    .featured-blog{
        margin: 50px auto;
    }

    .featured-blog__items-container{
        grid-template-columns: 1fr;
    }

    .featured-blog-item{
        padding: 20px;
    }

    /* Footer */
    footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: column;
    }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
    header{
        height: auto;
        padding-bottom: 20px;
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 540px;
        margin: 0 auto
    }

    nav .container div:nth-child(2){
        display: block;
    }
    
    .banner{
        position: static;
    }

    .banner__title{
        font-size: 26px;
        width: 100%;
    }

    /* == blog
    */
    .blog{
        margin: 50px auto;
    }


     /* Featured Blog */
     .featured-blog{
        margin: 50px auto;
    }

    .featured-blog__items-container{
        grid-template-columns: 1fr 1fr;
    }

    .featured-blog-item{
        padding: 20px;
    }

    /* Footer */
    footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: row ;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    header{
        background-image: url('https://images.pexels.com/photos/2007647/pexels-photo-2007647.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-color: rgba(0, 0, 0, 0.63);
        
    }
    .container{
        max-width: 720px;
        margin: 0 auto
    }
    

    .banner__title{
        font-size: 36px;
        width: 100%;
    }

    .banner{
        bottom: 10%;
    }

    /* == blog
    */
    .blog{
        margin: 80px auto;
    }


    /* Featured Blog */
    .featured-blog{
        margin: 50px auto;
    }

    .featured-blog__items-container{
        grid-template-columns: 1fr 1fr;
    }

    .featured-blog-item{
        padding: 20px;
    }

    /* Footer */
    footer{
        padding: 50px 0;
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .extra-footer{
        padding: 20px;
    }

    .extra-footer__container{
        flex-direction: row ;
    }
}
